$error-color: #df4759;

.main-header-styles {
  margin-bottom: 2.6em;
  h2 {
    margin-bottom: 10px;
  }
  p {
    color: $cool-gray;
  }
}

.main {
  width: 100%;
  height: 100%;
  padding: 2em;
  color: $marine-blue;
  // border: 1px solid purple;

  @include displayOnSmallScreen;

  & .personal-info {
    @include components-sm-screen;

    height: 100%;
    padding: 10px;
    position: relative;
    overflow-x: hidden;

    .header {
      @include flexProps;
      @extend .main-header-styles;
    }
    form {
      width: 100%;
      @include flexProps;

      & > div {
        width: 100%;
        @include flexProps;
        margin-bottom: 1.2em;
        gap: 0.5em;
        font-weight: 500;

        & > div {
          margin-bottom: 0.3em;
          @include flexProps($dir: row);
          align-items: center;
          justify-content: space-between;

          .error {
            color: $error-color;
          }
        }

        label {
          margin-bottom: 0.1em;
        }

        .error-input {
          outline: 1px solid $error-color;
        }

        input {
          border-radius: 5px;
          height: 45px;
          border: 1px solid $light-gray;
          padding: 15px;
          font-size: $font-size;
          color: $marine-blue;
          font-weight: 500;
          &:focus {
            outline: 1.5px solid $marine-blue;
          }
        }
      }

      .btn-submit {
        width: 96%;
        padding: 5px 0;
        position: absolute;
        bottom: 0;
        @include flexProps($dir: row);
        justify-content: end;

        @include sm {
          position: relative;
        }
      }
    }
  }
}

.main {
  .ctrls {
    width: 100%;
    @include flexProps($dir: row);
    justify-content: space-between;
    align-items: center;
    padding: 1em;

    @include sm {
      margin-top: 1em;
      background: $white;
      position: fixed;
      bottom: 0;
      right: 2em;
      left: 1em;
      width: 95%;
      margin-bottom: 2%;
    }

    .go-back {
      button {
        padding: 0px;
        background: none;
        color: $cool-gray;

        &:hover {
          text-decoration: underline;
          color: $marine-blue;
        }
      }
    }

    .next {
      & #btn {
        background: $purplish-blue;
        color: $white;

        &:hover {
          background: darken($purplish-blue, 5%);
        }
      }
    }
  }
}
